In [19]:
import requests
import pandas as pd
from io import StringIO

In [74]:
url = ("https://static.data.gouv.fr/resources/communes-de-france-base-des-codes-postaux/20241113-073516/20230823-communes-departement-region.csv")
response = requests.get(url)

In [75]:
# Put data into df
if response.status_code == 200:
    data = response.text
    df_communes_zipcode = pd.read_csv(StringIO(data))
else:
    print("Erreur")

df_communes_zipcode

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-ClÃ©menciat,L'Abergement-ClÃ©menciat,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,AmbÃ©rieu-en-Bugey,AmbÃ©rieu-en-Bugey,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,AmbÃ©rieux-en-Dombes,AmbÃ©rieux-en-Dombes,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,AmblÃ©on,AmblÃ©on,1,Ain,84.0,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39196,98831,VOH,98883,OUACO,VOH,NaN,NaN,831.0,NaN,Voh,Voh,98,NaN,NaN,NaN
39197,98832,YATE,98834,YATE,NaN,NaN,NaN,832.0,NaN,Yate,Yate,98,NaN,NaN,NaN
39198,98833,KOUAOUA,98818,KOUAOUA,NaN,NaN,NaN,833.0,NaN,Kouaoua,Kouaoua,98,NaN,NaN,NaN
39199,98901,ILE DE CLIPPERTON,98799,ILE DE CLIPPERTON,NaN,NaN,NaN,901.0,NaN,Ile de clipperton,Ile de clipperton,98,NaN,NaN,NaN
39200,99138,MONACO,98000,MONACO,NaN,NaN,NaN,138.0,NaN,Monaco,Monaco,99,NaN,NaN,NaN

In [76]:
# Keep usefull columns
df_communes_zipcode_final = df_communes_zipcode[['code_postal', 'nom_commune_complet', 'code_departement', 'nom_departement', 'nom_region']]
df_communes_zipcode_final

,code_postal,nom_commune_complet,code_departement,nom_departement,nom_region
0,1400,L'Abergement-ClÃ©menciat,1,Ain,Auvergne-RhÃ´ne-Alpes
1,1640,L'Abergement-de-Varey,1,Ain,Auvergne-RhÃ´ne-Alpes
2,1500,AmbÃ©rieu-en-Bugey,1,Ain,Auvergne-RhÃ´ne-Alpes
3,1330,AmbÃ©rieux-en-Dombes,1,Ain,Auvergne-RhÃ´ne-Alpes
4,1300,AmblÃ©on,1,Ain,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...
39196,98883,Voh,98,NaN,NaN
39197,98834,Yate,98,NaN,NaN
39198,98818,Kouaoua,98,NaN,NaN
39199,98799,Ile de clipperton,98,NaN,NaN
39200,98000,Monaco,99,NaN,NaN

In [77]:
# Drop rows
index_to_drop = df_communes_zipcode_final[df_communes_zipcode_final['nom_departement'].isnull()].index
df_communes_zipcode_final.drop(index_to_drop, inplace=True)
df_communes_zipcode_final

/tmp/ipykernel_32701/417409300.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_communes_zipcode_final.drop(index_to_drop, inplace=True)

,code_postal,nom_commune_complet,code_departement,nom_departement,nom_region
0,1400,L'Abergement-ClÃ©menciat,1,Ain,Auvergne-RhÃ´ne-Alpes
1,1640,L'Abergement-de-Varey,1,Ain,Auvergne-RhÃ´ne-Alpes
2,1500,AmbÃ©rieu-en-Bugey,1,Ain,Auvergne-RhÃ´ne-Alpes
3,1330,AmbÃ©rieux-en-Dombes,1,Ain,Auvergne-RhÃ´ne-Alpes
4,1300,AmblÃ©on,1,Ain,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...
38932,97670,Ouangani,976,Mayotte,Mayotte
38933,97670,Ouangani,976,Mayotte,Mayotte
38934,97615,Pamandzi,976,Mayotte,Mayotte
38935,97640,Sada,976,Mayotte,Mayotte
38936,97680,Tsingoni,976,Mayotte,Mayotte

In [78]:
df_communes_zipcode_final.drop_duplicates(subset=['nom_commune_complet'], inplace=True)
df_communes_zipcode_final

/tmp/ipykernel_32701/2961529725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_communes_zipcode_final.drop_duplicates(subset=['nom_commune_complet'], inplace=True)

,code_postal,nom_commune_complet,code_departement,nom_departement,nom_region
0,1400,L'Abergement-ClÃ©menciat,1,Ain,Auvergne-RhÃ´ne-Alpes
1,1640,L'Abergement-de-Varey,1,Ain,Auvergne-RhÃ´ne-Alpes
2,1500,AmbÃ©rieu-en-Bugey,1,Ain,Auvergne-RhÃ´ne-Alpes
3,1330,AmbÃ©rieux-en-Dombes,1,Ain,Auvergne-RhÃ´ne-Alpes
4,1300,AmblÃ©on,1,Ain,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...
38931,97650,M'Tsangamouji,976,Mayotte,Mayotte
38932,97670,Ouangani,976,Mayotte,Mayotte
38934,97615,Pamandzi,976,Mayotte,Mayotte
38935,97640,Sada,976,Mayotte,Mayotte
38936,97680,Tsingoni,976,Mayotte,Mayotte

In [79]:
df_communes_zipcode_final['code_postal'] = df_communes_zipcode_final['code_postal'].astype(str).str.zfill(5)
df_communes_zipcode_final

/tmp/ipykernel_32701/1017149504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_communes_zipcode_final['code_postal'] = df_communes_zipcode_final['code_postal'].astype(str).str.zfill(5)

,code_postal,nom_commune_complet,code_departement,nom_departement,nom_region
0,01400,L'Abergement-ClÃ©menciat,1,Ain,Auvergne-RhÃ´ne-Alpes
1,01640,L'Abergement-de-Varey,1,Ain,Auvergne-RhÃ´ne-Alpes
2,01500,AmbÃ©rieu-en-Bugey,1,Ain,Auvergne-RhÃ´ne-Alpes
3,01330,AmbÃ©rieux-en-Dombes,1,Ain,Auvergne-RhÃ´ne-Alpes
4,01300,AmblÃ©on,1,Ain,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...
38931,97650,M'Tsangamouji,976,Mayotte,Mayotte
38932,97670,Ouangani,976,Mayotte,Mayotte
38934,97615,Pamandzi,976,Mayotte,Mayotte
38935,97640,Sada,976,Mayotte,Mayotte
38936,97680,Tsingoni,976,Mayotte,Mayotte

In [81]:
df_communes_zipcode_final['code_departement'] = df_communes_zipcode_final['code_departement'].astype(str).str.zfill(2)
df_communes_zipcode_final

/tmp/ipykernel_32701/2805515942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_communes_zipcode_final['code_departement'] = df_communes_zipcode_final['code_departement'].astype(str).str.zfill(2)

,code_postal,nom_commune_complet,code_departement,nom_departement,nom_region
0,01400,L'Abergement-ClÃ©menciat,01,Ain,Auvergne-RhÃ´ne-Alpes
1,01640,L'Abergement-de-Varey,01,Ain,Auvergne-RhÃ´ne-Alpes
2,01500,AmbÃ©rieu-en-Bugey,01,Ain,Auvergne-RhÃ´ne-Alpes
3,01330,AmbÃ©rieux-en-Dombes,01,Ain,Auvergne-RhÃ´ne-Alpes
4,01300,AmblÃ©on,01,Ain,Auvergne-RhÃ´ne-Alpes
...,...,...,...,...,...
38931,97650,M'Tsangamouji,976,Mayotte,Mayotte
38932,97670,Ouangani,976,Mayotte,Mayotte
38934,97615,Pamandzi,976,Mayotte,Mayotte
38935,97640,Sada,976,Mayotte,Mayotte
38936,97680,Tsingoni,976,Mayotte,Mayotte

In [82]:
df_communes_zipcode_final.to_csv('correspondance_zipcode_commune.csv', index=False)