In [8]:
import asyncio
from datetime import datetime, timedelta
from random import randint

import pandas as pd

In [44]:
# Generate three months dates

start_date = datetime(2025, 3, 1)
end_date = datetime(2025, 6, 1)
delta = timedelta(days=1)

dates = []

while start_date <= end_date:
    dates.append(start_date)
    start_date += delta

values = []
current_value = randint(1, 10)

for _ in dates:
    values.append(current_value)
    current_value += randint(3, 10)

data = list(zip(dates, values))
data

[(datetime.datetime(2025, 3, 1, 0, 0), 4),
 (datetime.datetime(2025, 3, 2, 0, 0), 14),
 (datetime.datetime(2025, 3, 3, 0, 0), 22),
 (datetime.datetime(2025, 3, 4, 0, 0), 32),
 (datetime.datetime(2025, 3, 5, 0, 0), 39),
 (datetime.datetime(2025, 3, 6, 0, 0), 46),
 (datetime.datetime(2025, 3, 7, 0, 0), 51),
 (datetime.datetime(2025, 3, 8, 0, 0), 55),
 (datetime.datetime(2025, 3, 9, 0, 0), 63),
 (datetime.datetime(2025, 3, 10, 0, 0), 73),
 (datetime.datetime(2025, 3, 11, 0, 0), 83),
 (datetime.datetime(2025, 3, 12, 0, 0), 87),
 (datetime.datetime(2025, 3, 13, 0, 0), 92),
 (datetime.datetime(2025, 3, 14, 0, 0), 102),
 (datetime.datetime(2025, 3, 15, 0, 0), 106),
 (datetime.datetime(2025, 3, 16, 0, 0), 114),
 (datetime.datetime(2025, 3, 17, 0, 0), 121),
 (datetime.datetime(2025, 3, 18, 0, 0), 124),
 (datetime.datetime(2025, 3, 19, 0, 0), 129),
 (datetime.datetime(2025, 3, 20, 0, 0), 135),
 (datetime.datetime(2025, 3, 21, 0, 0), 138),
 (datetime.datetime(2025, 3, 22, 0, 0), 145),
 (datetime.datetime(2025, 3, 23, 0, 0), 150),
 (datetime.datetime(2025, 3, 24, 0, 0), 159),
 (datetime.datetime(2025, 3, 25, 0, 0), 164),
 (datetime.datetime(2025, 3, 26, 0, 0), 172),
 (datetime.datetime(2025, 3, 27, 0, 0), 177),
 (datetime.datetime(2025, 3, 28, 0, 0), 187),
 (datetime.datetime(2025, 3, 29, 0, 0), 190),
 (datetime.datetime(2025, 3, 30, 0, 0), 197),
 (datetime.datetime(2025, 3, 31, 0, 0), 203),
 (datetime.datetime(2025, 4, 1, 0, 0), 210),
 (datetime.datetime(2025, 4, 2, 0, 0), 219),
 (datetime.datetime(2025, 4, 3, 0, 0), 222),
 (datetime.datetime(2025, 4, 4, 0, 0), 227),
 (datetime.datetime(2025, 4, 5, 0, 0), 237),
 (datetime.datetime(2025, 4, 6, 0, 0), 244),
 (datetime.datetime(2025, 4, 7, 0, 0), 253),
 (datetime.datetime(2025, 4, 8, 0, 0), 262),
 (datetime.datetime(2025, 4, 9, 0, 0), 271),
 (datetime.datetime(2025, 4, 10, 0, 0), 277),
 (datetime.datetime(2025, 4, 11, 0, 0), 283),
 (datetime.datetime(2025, 4, 12, 0, 0), 293),
 (datetime.datetime(2025, 4, 13, 0, 0), 300),
 (datetime.datetime(2025, 4, 14, 0, 0), 309),
 (datetime.datetime(2025, 4, 15, 0, 0), 315),
 (datetime.datetime(2025, 4, 16, 0, 0), 325),
 (datetime.datetime(2025, 4, 17, 0, 0), 332),
 (datetime.datetime(2025, 4, 18, 0, 0), 335),
 (datetime.datetime(2025, 4, 19, 0, 0), 345),
 (datetime.datetime(2025, 4, 20, 0, 0), 349),
 (datetime.datetime(2025, 4, 21, 0, 0), 353),
 (datetime.datetime(2025, 4, 22, 0, 0), 356),
 (datetime.datetime(2025, 4, 23, 0, 0), 362),
 (datetime.datetime(2025, 4, 24, 0, 0), 368),
 (datetime.datetime(2025, 4, 25, 0, 0), 375),
 (datetime.datetime(2025, 4, 26, 0, 0), 378),
 (datetime.datetime(2025, 4, 27, 0, 0), 386),
 (datetime.datetime(2025, 4, 28, 0, 0), 390),
 (datetime.datetime(2025, 4, 29, 0, 0), 399),
 (datetime.datetime(2025, 4, 30, 0, 0), 407),
 (datetime.datetime(2025, 5, 1, 0, 0), 412),
 (datetime.datetime(2025, 5, 2, 0, 0), 415),
 (datetime.datetime(2025, 5, 3, 0, 0), 422),
 (datetime.datetime(2025, 5, 4, 0, 0), 428),
 (datetime.datetime(2025, 5, 5, 0, 0), 435),
 (datetime.datetime(2025, 5, 6, 0, 0), 443),
 (datetime.datetime(2025, 5, 7, 0, 0), 452),
 (datetime.datetime(2025, 5, 8, 0, 0), 458),
 (datetime.datetime(2025, 5, 9, 0, 0), 462),
 (datetime.datetime(2025, 5, 10, 0, 0), 469),
 (datetime.datetime(2025, 5, 11, 0, 0), 474),
 (datetime.datetime(2025, 5, 12, 0, 0), 481),
 (datetime.datetime(2025, 5, 13, 0, 0), 485),
 (datetime.datetime(2025, 5, 14, 0, 0), 490),
 (datetime.datetime(2025, 5, 15, 0, 0), 493),
 (datetime.datetime(2025, 5, 16, 0, 0), 496),
 (datetime.datetime(2025, 5, 17, 0, 0), 506),
 (datetime.datetime(2025, 5, 18, 0, 0), 516),
 (datetime.datetime(2025, 5, 19, 0, 0), 520),
 (datetime.datetime(2025, 5, 20, 0, 0), 525),
 (datetime.datetime(2025, 5, 21, 0, 0), 532),
 (datetime.datetime(2025, 5, 22, 0, 0), 536),
 (datetime.datetime(2025, 5, 23, 0, 0), 544),
 (datetime.datetime(2025, 5, 24, 0, 0), 551),
 (datetime.datetime(2025, 5, 25, 0, 0), 557),
 (datetime.datetime(2025, 5, 26, 0, 0), 565),
 (datetime.datetime(2025, 5, 27, 0, 0), 569),
 (datetime.datetime(2025, 5, 28, 0, 0), 576),
 (datetime.datetime(2025, 5, 29, 0, 0), 582),
 (datetime.datetime(2025, 5, 30, 0, 0), 587),
 (datetime.datetime(2025, 5, 31, 0, 0), 597),
 (datetime.datetime(2025, 6, 1, 0, 0), 600)]

In [45]:
df = pd.DataFrame(data, columns=["date", "value"])
df

         date  value
0  2025-03-01      4
1  2025-03-02     14
2  2025-03-03     22
3  2025-03-04     32
4  2025-03-05     39
..        ...    ...
88 2025-05-28    576
89 2025-05-29    582
90 2025-05-30    587
91 2025-05-31    597
92 2025-06-01    600

[93 rows x 2 columns]

In [46]:
df['month'] = df['date'].dt.month_name()
df

         date  value  month
0  2025-03-01      4  March
1  2025-03-02     14  March
2  2025-03-03     22  March
3  2025-03-04     32  March
4  2025-03-05     39  March
..        ...    ...    ...
88 2025-05-28    576    May
89 2025-05-29    582    May
90 2025-05-30    587    May
91 2025-05-31    597    May
92 2025-06-01    600   June

[93 rows x 3 columns]

In [47]:
df['number_of_week'] = df['date'].dt.isocalendar().week
df

         date  value  month  number_of_week
0  2025-03-01      4  March               9
1  2025-03-02     14  March               9
2  2025-03-03     22  March              10
3  2025-03-04     32  March              10
4  2025-03-05     39  March              10
..        ...    ...    ...             ...
88 2025-05-28    576    May              22
89 2025-05-29    582    May              22
90 2025-05-30    587    May              22
91 2025-05-31    597    May              22
92 2025-06-01    600   June              22

[93 rows x 4 columns]

In [30]:
df.to_csv('csv_files/datagen_inscriptions.csv', index=False)

In [4]:
def affiche(a: int, b: int) -> int :
    return a + b

In [5]:
affiche(2, 5)

7

In [8]:
x = "Hello"
assert x == "goodbye"

AssertionError:

In [14]:
x = "sdd"

try :
    res = isinstance(x, int)
    print("res is an integer")
except TypeError:
    print("res is not an integer")

res is an integer