In [1]:
import pandas as pd
import requests
import config

## Extract

In [2]:
events_url = "https://dashboard.activcreew.app/api/events?fields=id, name, volunteer&populate[association][fields]=id, name"
response_events = requests.get(events_url, headers=config.my_headers)
events_data = response_events.json()["data"]
df_events = pd.DataFrame(events_data)
df_events

,id,documentId,name,volunteer,association
0,6,h4e8nx3mnj9fmd22983hg07x,Marathon du lac d'Annecy,600,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp..."

## Transform

In [3]:
# Get fields from columns dicts
df_events["association_id"] = df_events["association"].apply(lambda x: x.get("id"))
df_events["association_name"] = df_events["association"].apply(lambda x: x.get("name"))
df_events

,id,documentId,name,volunteer,association,association_id,association_name
0,6,h4e8nx3mnj9fmd22983hg07x,Marathon du lac d'Annecy,600,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...",235,AHSA

In [4]:
# Rename 'volunteer' column
df_events.rename(columns={"volunteer": "estimated_number_of_volunteers"}, inplace=True)
df_events

,id,documentId,name,estimated_number_of_volunteers,association,association_id,association_name
0,6,h4e8nx3mnj9fmd22983hg07x,Marathon du lac d'Annecy,600,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...",235,AHSA

In [5]:
# Drop useless columns
df_events = df_events.drop(columns=["documentId", "association"])
df_events

,id,name,estimated_number_of_volunteers,association_id,association_name
0,6,Marathon du lac d'Annecy,600,235,AHSA

## Load

In [6]:
df_events.to_csv("csv_files/events_data.csv", index=False)