In [1]:
import pandas as pd
import requests
import config

## Extract

In [4]:
events_url = "https://dashboard.activcreew.app/api/events?fields=id, name&populate[association][fields]=id, name"
response_events = requests.get(events_url, headers=config.my_headers)
events_data = response_events.json()["data"]
df_events = pd.DataFrame(events_data)
df_events

,id,documentId,name,association
0,6,h4e8nx3mnj9fmd22983hg07x,Marathon du lac d'Annecy,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp..."

## Transform

In [5]:
# Get fields from columns dicts
df_events["association_id"] = df_events["association"].apply(lambda x: x.get("id"))
df_events["association_name"] = df_events["association"].apply(lambda x: x.get("name"))
df_events

,id,documentId,name,association,association_id,association_name
0,6,h4e8nx3mnj9fmd22983hg07x,Marathon du lac d'Annecy,"{'id': 235, 'documentId': 'ryhvfn988exusutyfgp...",235,AHSA

In [6]:
# Drop useless columns
df_events = df_events.drop(columns=["documentId", "association"])
df_events

   id                      name  association_id association_name
0   6  Marathon du lac d'Annecy             235             AHSA

## Load

In [7]:
df_events.to_csv("csv_files/events_data.csv", index=False)