In [1]:
import pandas as pd
import requests
import config

## Extract

In [8]:
types_url = "https://dashboard.activcreew.app/api/types?fields=name, description&populate[event_editions][fields]=id"
response_types = requests.get(types_url, headers=config.my_headers)
response_types = response_types.json()["data"]
df_types = pd.DataFrame(response_types)
df_types

,id,documentId,name,description,event_editions
0,5,rgqk1gt5qyijeih2ftp3blhs,volunteer,Gestion des bénévoles,"[{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrz..."

In [9]:
df_types["event_edition_id"] = df_types["event_editions"].apply(lambda x: x[0]["id"])
df_types

,id,documentId,name,description,event_editions,event_edition_id
0,5,rgqk1gt5qyijeih2ftp3blhs,volunteer,Gestion des bénévoles,"[{'id': 6, 'documentId': 'escwtfkm1a1sd0di8mrz...",6

## Transform

In [10]:
df_types.drop(columns=['documentId', 'event_editions'], inplace=True)
df_types

   id       name            description  event_edition_id
0   5  volunteer  Gestion des bénévoles                 6

In [11]:
df_types.dropna(subset=['event_edition_id'], inplace=True)
df_types

   id       name            description  event_edition_id
0   5  volunteer  Gestion des bénévoles                 6

## Load

In [12]:
df_types.to_csv('csv_files/types_data.csv', index=False)